amqp==5.2.0
asgiref==3.4.1
async-timeout==4.0.2
autopep8==2.0.4
backports.zoneinfo==0.2.1
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==2.0.12
click==7.1.2
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==40.0.2
defusedxml==0.8.0rc2
Django==3.2.25
django-cors-headers==3.10.1
django-debug-toolbar==3.2.4
django-extensions==3.2.3
django-filter==21.1
django-redis==5.4.0
django-silk==4.2.0
django-templated-mail==1.1.1
djangorestframework==3.15.1
djangorestframework-simplejwt==4.4.0
djoser==2.1.0
drf-nested-routers==0.93.4
gprof2dot==2022.7.29
graphviz==0.19.1
idna==3.7
importlib-metadata==1.7.0
importlib-resources==5.4.0
itypes==1.2.0
Jinja2==3.0.3
kombu==5.1.0
MarkupSafe==2.0.1
mysqlclient==2.1.1
oauthlib==3.2.2
packaging==21.3
Pillow==8.4.0
prompt-toolkit==3.0.36
pycodestyle==2.10.0
pycparser==2.21
pydot==1.4.2
Pygments==2.14.0
PyJWT==2.4.0
PyMySQL==1.0.2
pyOpenSSL==23.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2024.1
redis==4.3.6
requests==2.27.1
requests-oauthlib==2.0.0
six==1.16.0
social-auth-app-django==4.0.0
social-auth-core==4.4.2
sqlparse==0.4.4
tomli==1.2.3
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.18
vine==5.1.0
wcwidth==0.2.13
whitenoise==5.3.0
zipp==3.6.0
